.search-container {
  padding: 0 1.5rem;
}
.search-form {
  display: flex;
  max-width: 420px;
  margin: 0 auto;
}
.search-input {
  flex: 1;
  margin-right: 1rem;
  border: none;
  border-bottom: 1px solid var(--divider);
  color: var(--divider);
  background-color: var(--baseBackground)
}
.search-input::placeholder {
  color: var(--divider);
}
.search-input:focus {
  outline: none;
}
.search-button {
  width: 80px;
  background-color: var(--limeGreen);
  color: #FFF;
  text-transform: uppercase;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;
}
.search-button:hover {
  background-color: hsl(163, 72%, 35%)
}
.search-button,
.search-input  {
  height: 40px;
}
.errorMessage {
  margin: 4px auto 0;
  color: var(--error);
  font-size: .8rem;
  max-width: 420px;
}
@media screen and (min-width: 670px) {
  .search-input {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .search-form {
    margin: 2rem auto 0;
  }
}
