.footer {
  background-color: var(--cardGray);
  margin: 2rem 1.5rem 0;
  text-align: center;
  border-radius: .5rem;
}
.footer-text {
  color: var(--text);
  margin: 0;
  word-break: unset;
  padding: .5rem 1rem;
}

.footer-link {
  color: var(--text);
}
@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
  }
}