*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --limeGreen: hsl(163, 72%, 41%);
  --brightRed: hsl(356, 69%, 56%);
  --divider: #5f616d;
  --cardGray: #f0f3fa;
  --text: #6f717e;
  --baseBackground: white;
  --baseColor: #1d2029;
  --switchSpinner: white;
  --switch: #5f616d;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--baseBackground);
}